<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{{title}}}</title>

    <script src="https://use.fontawesome.com/042f263270.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div id="nav">
      <ul>
        <div class="nav-section" id="brand">
          <li><h5 class="purple-text text-lighten-4"><i class="fa fa-dot-circle-o purple-text text-accent-3" aria-hidden="true"></i> Habit Tracker</5></li>
        </div>
        <div class="nav-section" id="profile">
          <img id="profile-pic" src="" width="40px" height="40px" />
          <span class="white-text">Full Name</span>
          <div style="clear: left;"></div>
        </div>
        <div class="nav-section" id="links">
          <h6 class="blue-grey-text nav-section-heading">Main</h6>
          <li><a href="" class="blue-grey-text text-lighten-5"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a></li>
          <li><a href="" class="blue-grey-text text-lighten-5"><i class="fa fa-line-chart" aria-hidden="true"></i> Statistics</a></li>
          <li><a href="" class="blue-grey-text text-lighten-5"><i class="fa fa-diamond" aria-hidden="true"></i> Rewards <span class="small-badge blue">9</span></a></li>
          <li><a href="" class="blue-grey-text text-lighten-5"><i class="fa fa-users" aria-hidden="true"></i> Friends</a></li>
          <h6 class="blue-grey-text nav-section-heading">Settings</h6>
          <li><a href="" class="blue-grey-text text-lighten-5"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
          <li><a href="" class="blue-grey-text text-lighten-5"><i class="fa fa-sliders" aria-hidden="true"></i> Preferences</a></li>
        </div>
      </ul>
    </div>

    <div id="content" class="blue-grey lighten-5">
      {{{body}}}
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
