<header id="dashboard_header">
	<span>Dashboard</span>
	<div class="current_user right">
	  <!-- <span>SM</span> -->
	  <span>Samani Mukhtar</span>
	</div>
</header>

<nav>
  <div class="nav_header"><i class="fa fa-bolt" aria-hidden="true"></i> Quirk</div>
  <div class="nav_links">
    <ul>
      <section class="nav_section_divider">Main</section>
      <li><a href=""><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a></li>
      <li><a href=""><i class="fa fa-line-chart" aria-hidden="true"></i> Statistics</a></li>
      <li><a href=""><i class="fa fa-diamond" aria-hidden="true"></i> Rewards</a></li>
      <!-- <li><a href="" class="blue-grey-text text-lighten-5"><i class="fa fa-users" aria-hidden="true"></i> Friends</a></li> -->
      <section class="nav_section_divider">Settings</section>
      <li><a href="/"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
      <li><a href=""><i class="fa fa-sliders" aria-hidden="true"></i> Preferences</a></li>
    </ul>
  </div>
</nav>

<div class="content" id="dashboard_content">
  <h3 style="color:#fff">hello</h1>
</div>
