<header id="dashboard_header">
	<span>Dashboard</span>
	<div class="current_user right">
	  <!-- <span>SM</span> -->
	  <img src="{{user.pictureUrl}}" />
	  <span>{{user.name}}</span>
	</div>
	<a class="right" id="add_habit" href=""><i class="fa fa-plus" aria-hidden="true"></i></a>
</header>

<nav>
  <div class="nav_header"><i class="fa fa-bolt" aria-hidden="true"></i> Quirk</div>
  <div class="nav_links">
    <ul>
      <section class="nav_section_divider">Main</section>
      <li><a href=""><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a></li>
      <li><a href=""><i class="fa fa-line-chart" aria-hidden="true"></i> Statistics</a></li>
      <section class="nav_section_divider">Settings</section>
      <li><a href="/"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
    </ul>
  </div>
</nav>

<div class="content" id="dashboard_content">
  <div class="add_habit_tab">
	<form method="POST" action="/addhabit">
	  <input type="text" name="habitName" placeholder="Habit Name" required/>
	</form>
  </div>
</div>
