<header id="dashboard_header">
	<span>Dashboard</span>
	<div class="current_user right">
	  <!-- <span>SM</span> -->
	  <img src="{{user.photoUrl}}" />
	  <span>{{user.name}}</span>
	</div>
	<a class="right" id="add_habit"><i class="fa fa-plus" aria-hidden="true"></i></a>
</header>

<nav>
  <div class="nav_header"><i class="fa fa-bolt" aria-hidden="true"></i> Quirk</div>
  <div class="nav_links">
    <ul>
      <section class="nav_section_divider">Main</section>
      <li><a href=""><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a></li>
      <li><a href=""><i class="fa fa-line-chart" aria-hidden="true"></i> Statistics</a></li>
      <section class="nav_section_divider">Settings</section>
      <li><a href="/login"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
    </ul>
  </div>
</nav>

<div class="content" id="dashboard_content">
  <div class="add_habit_tab">
	<form method="POST" action="/addhabit">
		<ul>
			<li>
				<label for="habitName">Habit Name:</label>
				<input type="text" name="habitName" placeholder="e.g. Gym" required/>
			</li>
			<li>
				<label for="habitDesc">Habit Description:</label>
				<input type="text" name="habitDesc" placeholder="Workout for 1 hour and do 15mins cardio." />
			</li>
			<li>
				<label for="weeklyGoal">Weekly goal:</label>
				<select name="weeklyGoal">
					<option value="">Once a week</option>
					<option value="">2 times a week</option>
					<option value="">3 times a week</option>
					<option value="">4 times a week</option>
					<option value="">5 times a week</option>
					<option value="">6 times a week</option>
					<option value="">Every day</option>
				</select>
			</li>
			<li>
				<input type="submit" value="Add Habit" />
			</li>
		</ul>
	</form>
  </div>
    <div class="habits">
        <ul>
            <li>
                <div id="habit_top">
                    <h3>Habit Name</h3>
                    <badge>Edit</badge>
                    <badge>Stats</badge>
                </div>
                <div id="habit_middle">
                    <ul>
                        <li></li>
                        <li></li>
                        <li>Today</li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div id="habit_bottom">

                </div>
            </li>
        </ul>
    </div>
</div>
