<header id="login_header">
  <span><i class="fa fa-bolt fa-lg" aria-hidden="true"></i> Quirk</span>
  <a href="/fblogin" class="right" id="fb_login_btn"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> &nbsp;&nbsp;Login With Facebook</a>
</header>

<div class="content" id="login_content">
  <div class="about_area">
    Lorem ipsizzle dolor shizzle my nizzle crocodizzle get down get down, consectetuer adipiscing elit. Nullizzle sapien velit, fo volutpat, away bling bling, mofo vizzle, arcu. Pellentesque eget crazy. Sed erizzle. Izzle at dolizzle dapibus turpis tempizzle break it down. Maurizzle bizzle nibh boom shackalack turpizzle. Yippiyo izzle crackalackin. Pellentesque bling bling rhoncizzle sure. In hac check it out izzle dictumst. Pizzle dapibizzle. Fo shizzle tellus urna, pretium eu, brizzle izzle, eleifend doggy, i'm in the shizzle. Fo shizzle mah nizzle fo rizzle, mah home g-dizzle bow wow wow. Integer the bizzle the bizzle shit yippiyo.
  </div>
</div>
