<header id="login_header">
  <span><i class="fas fa-bolt fa-lg" aria-hidden="true"></i> Quirk</span>
  <a href="/fblogin" class="right" id="fb_login_btn"><i class="fab fa-facebook-square"></i> &nbsp;&nbsp;Login With Facebook</a>
</header>

<div class="content" id="login_content">
  <div class="about_area">
    <h3>How to use Quirk:</h3>
    <p>1) Login to Quirk with your Facebook account.</p>
    <p>2) Add habits that you would like to start doing consistently (e.g. going to the gym)</p>
    <p>3) Add how often you want to do the habit in a week</p>
    <p>4) Log your progress and watch your statistics and streaks!</p>
  </div>
</div>
