<header id="login_header">
  <span><i class="fa fa-bolt fa-lg" aria-hidden="true"></i> Quirk</span>
</header>

<div class="content" id="login_content">
  <div class="login_area">
    <div class="login_area_top">
      <span id="selected">Login</span>
      <span>Signup</span>
    </div>
    <div class="login_area_bottom">
      <form action="/login" method="POST">
        <input type="text" name="email" placeholder="Email address" required />
        <input type="password" name="password" placeholder="Password" required />
        <input type="submit" value="Login" />
      </form>
      <p>-------- OR -------</p>
      <a href="/fblogin" id="fb_login_btn"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> &nbsp;&nbsp;Login With Facebook</a>
    </div>
  </div>

</div>
