<h2>Search Users</h2>
{{#if error}}<span>{{error}}</span>{{/if}}
<form method="POST" action="/search">
  <div class="input-field col s6 textbox">
    <input placeholder="Search users by ID" name="id" type="text" class="validate">
  </div>
  <button class="btn waves-effect waves-light" type="submit" name="action">Search</button>
</form>
