body {
  font-family: Rubik, monospace;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

/*============================================================{  GENERAL  }===========================================================*/

.right {
  float: right;
}

header {
  display: block;
  position: fixed;
  z-index: 5;
  width: 100%;
  width: calc(100% - 200px);
  height: 60px;
  top: 0;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px 1px 4px 0px rgba(204, 204, 204, 1);
  box-shadow: 0px 1px 4px 0px rgba(204, 204, 204, 1);
}

header span {
  display: inline-block;
  font-size: 18px;
  color: #444;
  padding: 20px 10px;
}

header a {
  cursor: pointer;
  height: 45px;
  width: 45px;
  margin: 7.5px;
  border-radius: 5px;
  padding-top: 14px;
  text-align: center;
  font-size: 19px;
}

header a:hover {
  background-color: #F3F3F3;
}

header .current_user {
  background-color: #f3f3f3;
  height: 45px;
  margin: 7.5px 0;
  font-size: 17px;
  position: relative;
  padding-left: 40px;
  border-radius: 5px 0 0 5px;
}

header .current_user span {
  padding: 14px 10px;
}

header .current_user img {
  position: absolute;
  left: 0;
  border-radius: 5px 0 0 5px;
  height: 45px;
}

nav {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  display: block;
  background-color: #08D9D6;
  color: #fff;
}

nav .nav_header {
  height: 60px;
  width: 100%;
  color: #08D9D6;
  background-color: #fff;
  font-size: 20px;
  padding: 18px 8px;
}

nav .nav_section_divider {
  margin-top: 10px;
  padding-left: 5px;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
}

nav .nav_links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

nav .nav_links ul li {
  flex: 1;
  list-style: none;
  cursor: pointer;
}

nav .nav_links ul li a {
  display: block;
  text-decoration: none;
  word-spacing: 10px;
  font-size: 16px;
  color: #fff;
  width: 100%;
  height: 45px;
  padding: 14px 8px;
}

nav .nav_links ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.content {
  background-color: #eee;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

input, select {
  height: 30px;
  margin: 3px 0 5px 0;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid #eee;
}

.habit_tab {
  display: none;
  position: fixed;
  z-index: 4;
  right: 0;
  top: 60px;
  width: 400px;
  background-color: #fff;
  padding: 14px 10px;
  border-radius: 0 0 5px 5px;
}

.habit_tab form ul li label {
  display: block;
  font-size: 16px;
  font-weight: 300;
  color: #777;
}

.habit_tab form ul li input, select {
  width: 100%;
  padding-left: 5px;
  margin-bottom: 15px;
}

.habit_tab form ul li select {
  background-color: #fff;
}

.habit_tab form ul li input[type="submit"] {
  background-color: #08D9D6;
  color: #fff;
  cursor: pointer;
  height: 40px;
  margin-bottom: 0;
}

/* Placeholder Text Color For The Input Fields*/

.habit_tab form ul li input::-webkit-input-placeholder {
  color: #ddd;
}

.habit_tab form ul li input:-moz-placeholder {
  color: #ddd;
}

.habit_tab form ul li input::-moz-placeholder {
  color: #ddd;
}

.habit_tab form ul li input:-ms-input-placeholder {
  color: #ddd;
}

/*============================================================{  DASHBOARD  }===========================================================*/

.content#dashboard_content {
  top: 60px;
  left: 200px;
  width: calc(100% - 200px);
  height: calc(100vh - 60px);
}

.content#dashboard_content .habits>ul {
  padding: 15px 0;
}

.content#dashboard_content .habits>ul>li {
  margin: 0 auto 20px auto;
  width: 70%;
  background-color: #fff;
  box-shadow: 1px 1px 15px #ccc;
}

.content#dashboard_content .habits>ul>li #habit_top {
  height: 30px;
  padding: 4px 6px;
}

.content#dashboard_content .habits>ul>li #habit_top h3 {
  display: inline-block;
  font-size: 17px;
  margin-top: 2px;
}

.content#dashboard_content .habits>ul>li #habit_top badge {
  cursor: pointer;
  box-sizing: content-box;
  display: inline-block;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 3.5px 6px;
  border-radius: 3px;
  float: right;
  margin: 0 5px;
}

.content#dashboard_content .habits>ul li #habit_middle ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.content#dashboard_content .habits>ul li #habit_middle ul li {
  cursor: pointer;
  flex: 1;
  text-align: center;
  height: 50px;
  font-size: 16px;
  font-weight: 200;
  padding: 17px 0;
  border-top: 1px solid #f1f6f6;
  box-shadow: 0px 0px 1px #aaa;
}

.content#dashboard_content .habits>ul li #habit_middle ul li:hover {
  background-color: #f1f6f6;
}

.content#dashboard_content .habits>ul li #habit_bottom {
  width: 200px;
  margin: 0 auto;
  height: 30px;
}

.content#dashboard_content .habits>ul li #habit_bottom a {
  display: inline-block;
  width: 49%;
  height: 100%;
  text-align: center;
  background-color: #f5f5f5;
  margin: 0;
}

.content#dashboard_content .habits>ul li #habit_bottom a#completed {
  background-color: #17B978;
}

.content#dashboard_content .habits>ul li #habit_bottom a#failed {
  background-color: #F67280;
}

.StatsModal {
  display: none;
  position: absolute;
  top: 100px;
  left: 30%;
  z-index: 15;
  background-color: #fff;
  width: 40%;
  text-align: center;
  box-shadow: 1px 0 18px #555;
  border-radius: 4px;
  padding-top: 5px;
  font-size: 16px;
  /* overflow-y: scroll; */
}

.StatsModal ul {
  width: 100%;
  padding: 10px;
}

.StatsModal ul li {
  height: 40px;
  background-color: #fff;
  margin-bottom: 7px;
  box-shadow: 0 0 5px #ccc;
}

.StatsModal ul li a {
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 12px;
}

.StatsModalBackground {
  display: none;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  opacity: 0.4;
  position: absolute;
  z-index: 14;
  top: 0;
  left: 0;
}

/*============================================================{  STATS  }===========================================================*/

.content#stats_content {
  top: 60px;
  left: 200px;
  width: calc(100% - 200px);
  height: calc(100vh - 60px);
}

.content#stats_content>ul {
  padding: 20px 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
}

.content#stats_content>ul>li {
  flex: 1;
  height: 80px;
  max-width: 170px;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 0 10px #ccc;
  border-radius: 3px;
  padding-top: 18px;
}

.content#stats_content>ul>li>h3 {
  font-size: 24px;
  margin-bottom: 5px;
  color: #66ffaa;
}

.content#stats_content ul li p {
  font-size: 15px
}

.content#stats_content canvas#mychart {
  max-width: 700px;
  margin: 0 auto;
}

/*============================================================{  LOGIN  }===========================================================*/

header#login_header {
  width: 100%;
  position: relative;
  background-color: #393E46;
  box-shadow: 0px 1px 4px 0px #000;
}

header#login_header span {
  font-size: 20px;
  color: #08D9D6;
}

header#login_header a#fb_login_btn {
  display: block;
  font-size: 15px;
  padding: 17px;
  text-align: center;
  width: 300px;
  height: 50px;
  background-color: rgba(0, 0, 00, 0.05);
  border: 2px solid #3EC1D3;
  color: #3EC1D3;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
}

header#login_header a#fb_login_btn:hover {
  background-color: #3EC1D3;
  color: #fff;
}

.content#login_content {
  top: 0;
  height: calc(100vh - 60px);
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/images/login_background.jpg");
  background-size: cover;
}

.content#login_content .about_area {
  flex: 1;
  max-width: 800px;
  padding: 30px 20px;
  line-height: 24px;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0 1px 7px 0 #888;
  -moz-box-shadow: 0 1px 7px 0 #888;
  box-shadow: 0 1px 15px 0 #888;
  border-radius: 5px;
}

.content#login_content .about_area h3 {
  text-align: center;
  margin-bottom: 5px;
}

.content#login_content .about_area p {
  font-size: 17px;
  color: #222;
}
